* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.headersection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: aliceblue;
  background: #000;
}
.center ul li {
  list-style: none;
  display: inline-flex;
  margin: 0px 10px;
}
.center button {
  background: #000;
  color: white;
  padding: 5px;
  border: 0px;
  font-size: 15px;

}
.left {
  flex: 2;
  padding: 10px;
}
.center {
  flex: 4;
  padding: 10px;
}
.search {
  flex: 2;
  padding: 10px;

}
.search input{
  padding: 10px;
  border-radius: 5px;
}
.right {
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding: 10px;
}
.home-text1 h1 {
  color: red;
  margin: 40px;
  font-size: 50px;
}
.home-text2 h2 {
  margin: 20px;
  font-size: 40px;
}
.home-text3 h3 {
  margin: 20px;
  font-size: 40px;
}
.home-text {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.home-img img {
  width: 350px;
  height: 500px;
  border-radius: 200px 300px 100px 50px;
}
.projects {
  width: 100%;
  background-color: beige;
}
.home-title{
  display:flex;
  justify-content:center;
}
.project-box {
  width: 300px;
  height: 400px;
  margin:50px;
  background-color: rgb(81, 54, 18);
  display: inline-flex;
  border-radius: 30px;
}
.project-img img {
  width: 300px;
  height: 300px;
  display: inline-flex;
  border-radius: 30px;
}
.project-details {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.project-details button {
 padding:0px 10px;
 border-radius: 5px;
 background: #000;
 color: white;
 border: 0px;
}
.about {
  display: flex;
  justify-content: center;
  background-color:  whitesmoke;
  color: white;
  color: black;
  margin: 30px;
}
.about-body {
  width: 100%;
  background-color: whitesmoke;
  color: white;
}
.about-1 {
  display: flex;
  justify-content: space-between;
  background-color: rgb(165, 165, 148) ;
  color: white;
  padding: 50px;
  margin: 30px;
}
.about-2 {
  display: inline-flex;
}
.about-3 {
  display: inline-flex;
}
.about-4 {
  display: inline-flex;
}
.about-5 {
  display: inline-flex;
}
#hexagon h2 {
  color:#000;
  padding-left: 20px;
}
#hexagon button {
  float: right;
  padding:5px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #000;
  color: aliceblue;
  border-radius: 5px;
  border: 0px;
}
#hexagon {
  width: 200px;
  height: 110px;
  background: white;
  position: relative;
  margin: 10px auto;
}

#hexagon:before {
  content: "";
  width: 0px;
  height: 0;
  position: absolute;
  top: -54px;
  left: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 55px solid white;
}

#hexagon:after {
  content: "";
  width: 0px;
  height: 0;
  position: absolute;
  bottom: -54px;
  left: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 55px solid white;
}
.footer {
  background:black;
  color: aliceblue;
  
}
.footer-links{
  display: flex;
  flex-direction: row;
  margin: 30px;
  padding: 30px;
  font-size: 30px;
  justify-content: center;
}
.footer-links a {
  margin: 10px;
  padding-top: 100px;
}
.footer-add{
  width: 400px;
  padding-left: 50px;
}
.footer-copy1 {
  display: flex;
  justify-content: center;
  padding: 50px;
}
